<html>
<head>
</head>
<body>

<form name='input' action='/details.html/' method='post'>
Student Name:&nbsp;<input type='Text' name='student_name' value=''/>
Standard:<input type='Number' name='student_class' value='01'>
Main Subject:<input type= 'Text' name='main_sub'  value=''/>
Identity number:<input type='text' name=Id_student' value=''/>
marks:<input type='Number' name='marks' value='' />
Average marks:<input type='Number' name='avg_marks',value=''/>
Fees:<input type='Number' name='fee' value=''/>
<br>



<input type='submit' value="Submit">
</body>
</html>

