<html>
<head>

<title>School details</title>
<style>
m{
color:orange;
text-align: center;
}
p{
font-size:18px;
margin:25px;
color:green;
}
pp
{
font-color:green;
font-size:18px;
margin:15px;
}
</style>
</head>
<body bgcolor='cyan'>

<m><h1><b>R.P.H.School</b></h1></m>
<p><a href='/students/'>Click here to see Student details<a><br>
<a href='/teachers/'>Click here to see teaching faculty details</a><br>
<a href='/fee/'>Click here to see Expenses details</a><br>
<a href='/staff/'>Click here to see non teaching staff details</a></p>
</html>