<html>
<head>

<title>{{s.staff_name}} details</title>
<style>
p{
font-size:18px;
margin:25px;
color:green;
}
pp
{
font-size:18px;
margin:5px;
}
</style>
</head>
<body bgcolor='cyan'>

<p><u>{{s.staff_name}} Details</u><br></p>
<table align='left' border ='1'>
<tr><td>staff 
Name:</td><td align='center'>{{s.staff_name}}
</td></tr>

<tr><td>staff age:</td><td align='center'>{{s.staff_age}}</td></tr>

<tr><td>section:</td><td align='center'>{{s.section}}
</td></tr>
<tr><td>Identity number:</td><td align='center'>{{s.staff_Idn}}
</td></tr>
<tr><td>salary:</td><td align='center'>{{s.salary}}
</td></tr>
</table>
<br><br><br><br><br><br><br><br><br><br>
<pp><a href='/addst/'>Add staff</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href='/staff/'>Staff</a>

</pp></body>
</html>

