<html>
<head>

<title>{{s.faculty_name}} details</title>
<style>
p{
font-size:18px;
margin:25px;
color:green;
}
pp
{
font-size:18px;
margin:5px;
}
</style>
</head>
<body bgcolor='cyan'>

<p><u>{{s.faculty_name}} Details</u><br></p>
<table align='left' border ='1'>
<tr><td>teacher 
Name:</td><td align='center'>{{s.faculty_name}}
</td></tr>

<tr><td>Teacher age:</td><td align='center'>{{s.faculty_age}}</td></tr>

<tr><td>Main Subject:</td><td align='center'>{{s.main_subject}}
</td></tr>
<tr><td>Identity number:</td><td align='center'>{{s.faculty_Idn}}
</td></tr>
<tr><td>salary:</td><td align='center'>{{s.salary}}
</td></tr>
</table>
<br><br><br><br><br><br><br><br><br><br>
<pp><a href='/add/'>Add Teacher</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href='/teachers/'>Teachers</a>

</pp></body>
</html>

